.form {
  &-request {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 40px;
  }
  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $light-black;
    margin-bottom: 12px;
  }
}
.label-request {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 20px;
  }
  .textarea {
    height: 120px;
    padding: 12px 16px;

    margin-bottom: 20px;
  }
}
.input-request {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  resize: none;
  padding: 12px 42px;
  width: 100%;
  &:focus {
    outline: none;
    border: 1px solid $blue;
  }
  &:focus + svg {
    fill: $blue;
  }
}
.person-request {
  position: relative;
  display: block;
}
.icon-person-request {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
}
.label-agreement {
  display: flex;
  justify-content: center;
  text-align: center;
}
.agreement-conditions {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked + svg {
    background-color: $blue;
    border: 2px solid $blue;
  }
}
.icon-agreement-request {
  margin: auto 0;
  min-width: 16px;
  min-height: 15px;
  width: 16px;
  height: 15px;
  background-color: $white;
  border: 2px solid rgba(33, 33, 33, 1);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  margin-right: 8px;
}
.link-agreement-conditions {
  color: $blue;
  text-decoration: underline;
}
.btn-submit-requests {
  margin: 0 auto;
  width: 200px;
  background-color: $blue;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  display: inline-block;
  margin-top: 50px;
  border: 1px solid $blue;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}
