.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  .combine-nav-addr {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) {
      height: 80px;
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
}
