.sotial-list {
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  &-item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.sotial-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  &:hover,
  &:focus {
    outline: none;
    border: none;
    background-color: $blue;
    border-radius: 50%;
  }
  &:hover .sotial-icon,
  &:focus .sotial-icon {
    fill: $white;
  }
}
.sotial-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}
